# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
cities_df = pd.read_csv('../WeatherPy/output_Data/cities.csv', encoding="utf-8")
cities_df.head()

,City Name,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temp,Wind Speed
0,Bluff,100,NZ,1651962575,98,-46.6000,168.3333,57.79,6.02
1,Alofi,96,NU,1651962575,89,-19.0595,-169.9187,78.69,3.44
2,Kirakira,81,SB,1651962575,80,-10.4544,161.9205,82.76,10.51
3,Manjacaze,0,MZ,1651962533,93,-24.7117,33.8828,64.36,6.06
4,Kavieng,59,PG,1651962387,71,-2.5744,150.7967,84.11,17.45

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Store latitude and longitude in locations
locations = cities_df[["Latitude", "Longitude"]]

# Fill Humidity values and convert to float
humidity = cities_df["Humidity"].astype(float)
max_humidity = humidity.max()

In [4]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [5]:
# Plot Heatmap
fig = gmaps.figure(center=(0.0, 0.0), zoom_level=2)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=max_humidity,
                                 point_radius=2)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
fig = gmaps.figure(center=(0.0, 0.0), zoom_level=2)
humidity = cities_df["Humidity"].tolist()
markers = gmaps.marker_layer(locations,info_box_content=[f"Humidity: {humidity}" for humidity in humidity])
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [7]:
# Preferred City - Max Temp Greater than 60 and less than 80, Humidity less than 75, Cloudiness less than 30%
pref_cities = cities_df.loc[
    (cities_df["Max Temp"] > 60) &
    (cities_df["Max Temp"] < 80) &
    (cities_df["Humidity"] < 75) & 
    (cities_df["Cloudiness"] < 30)
]
pref_cities = pref_cities.dropna(how='any')
pref_cities.reset_index(inplace=True)
del pref_cities['index']

# Display to output
pref_cities.head()

,City Name,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temp,Wind Speed
0,San Rafael,0,AR,1651962285,28,-34.6177,-68.3301,69.19,12.95
1,Mishawaka,0,US,1651962545,30,41.6620,-86.1586,68.47,10.36
2,Jamestown,0,US,1651962585,35,42.0970,-79.2353,62.53,13.80
3,Sakakah,1,SA,1651962586,24,29.9697,40.2064,62.17,1.59
4,Ingham,0,US,1651962540,37,42.6000,-84.3833,63.93,16.11

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [8]:
hotel_df = pd.DataFrame(pref_cities)

In [9]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {"type": "hotel",
     "radius": 5000, 
     "keyword":"hotel",
     "key": g_key,
}

In [10]:
for index, row in hotel_df.iterrows():

    # get restaurant type from df
    lat = row["Latitude"]
    long = row["Longitude"]
    city_name = row["City Name"]

    # add keyword to params dict
    params["location"] = f"{lat},{long}"

    # assemble url and make API request
    print(f"Retrieving Closest Hotel for Index# {index}: {city_name}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response["results"]
    
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        
        hotel_df.loc[index,"Hotel Name"] = results[0]['name']
        
        
    except (KeyError, IndexError):
        print("No Hotel Found")
        
    print("---------------")
    
    
print("---End of Search---")

Retrieving Closest Hotel for Index# 0: San Rafael.
Closest hotel in San Rafael is Suter Petit Hotel.
---------------
Retrieving Closest Hotel for Index# 1: Mishawaka.
Closest hotel in Mishawaka is Hyatt Place South Bend/Mishawaka.
---------------
Retrieving Closest Hotel for Index# 2: Jamestown.
Closest hotel in Jamestown is DoubleTree by Hilton Jamestown.
---------------
Retrieving Closest Hotel for Index# 3: Sakakah.
Closest hotel in Sakakah is Raoum Inn Hotel.
---------------
Retrieving Closest Hotel for Index# 4: Ingham.
No Hotel Found
---------------
Retrieving Closest Hotel for Index# 5: Mount Isa.
Closest hotel in Mount Isa is Barkly Hotel.
---------------
Retrieving Closest Hotel for Index# 6: Half Moon Bay.
Closest hotel in Half Moon Bay is Beach House Hotel.
---------------
Retrieving Closest Hotel for Index# 7: Santa Cruz de la Sierra.
Closest hotel in Santa Cruz de la Sierra is Marriott Santa Cruz de la Sierra Hotel.
---------------
Retrieving Closest Hotel for Index# 8: Cidreira.
Closest hotel in Cidreira is Hotel Castelo.
---------------
Retrieving Closest Hotel for Index# 9: Mar del Plata.
Closest hotel in Mar del Plata is Hotel CR Playa Suites.
---------------
Retrieving Closest Hotel for Index# 10: Dryden.
Closest hotel in Dryden is Holiday Inn Express Dryden, an IHG Hotel.
---------------
Retrieving Closest Hotel for Index# 11: Riyadh.
Closest hotel in Riyadh is Radisson Blu Hotel, Riyadh.
---------------
Retrieving Closest Hotel for Index# 12: Comodoro Rivadavia.
Closest hotel in Comodoro Rivadavia is Comodoro Hotel.
---------------
Retrieving Closest Hotel for Index# 13: Pisco.
Closest hotel in Pisco is Hotel Las Olas.
---------------
Retrieving Closest Hotel for Index# 14: Guerrero Negro.
Closest hotel in Guerrero Negro is Hotel Covare INN.
---------------
Retrieving Closest Hotel for Index# 15: Kashgar.
Closest hotel in Kashgar is Qinibagh Hotel.
---------------
Retrieving Closest Hotel for Index# 16: Shingū.
Closest hotel in Shingū is Shingu UI Hotel.
---------------
Retrieving Closest Hotel for Index# 17: Talara.
Closest hotel in Talara is Hotel Pacifico.
---------------
Retrieving Closest Hotel for Index# 18: Cap Malheureux.
Closest hotel in Cap Malheureux is Royal Palm Beachcomber Luxury.
---------------
Retrieving Closest Hotel for Index# 19: Pierre.
Closest hotel in Pierre is Holiday Inn Express & Suites Pierre-Fort Pierre, an IHG Hotel.
---------------
Retrieving Closest Hotel for Index# 20: Sohag.
Closest hotel in Sohag is شركة العابد ترافيل للسياحة سوهاج.
---------------
Retrieving Closest Hotel for Index# 21: Laguna.
Closest hotel in Laguna is Hampton Inn & Suites Sacramento-Elk Grove Laguna I-5.
---------------
Retrieving Closest Hotel for Index# 22: Grandview.
Closest hotel in Grandview is Holiday Inn Express & Suites Kansas City-Grandview.
---------------
Retrieving Closest Hotel for Index# 23: Ivanovka.
No Hotel Found
---------------
Retrieving Closest Hotel for Index# 24: Ottumwa.
Closest hotel in Ottumwa is Quality Inn & Suites.
---------------
Retrieving Closest Hotel for Index# 25: Kununurra.
Closest hotel in Kununurra is The Kimberley Grande Resort.
---------------
Retrieving Closest Hotel for Index# 26: Viedma.
Closest hotel in Viedma is Hotel Austral Viedma.
---------------
Retrieving Closest Hotel for Index# 27: Nurobod.
No Hotel Found
---------------
Retrieving Closest Hotel for Index# 28: Yangi Marg`ilon.
Closest hotel in Yangi Marg`ilon is TANTANA HOTEL FERGANA.
---------------
Retrieving Closest Hotel for Index# 29: Todos Santos.
Closest hotel in Todos Santos is Hotel San Cristóbal.
---------------
Retrieving Closest Hotel for Index# 30: Umluj.
Closest hotel in Umluj is Juman Hotel.
---------------
Retrieving Closest Hotel for Index# 31: Corumbá.
Closest hotel in Corumbá is Nacional Palace Hotel.
---------------
Retrieving Closest Hotel for Index# 32: Pacific Grove.
Closest hotel in Pacific Grove is The Monterey Hotel.
---------------
Retrieving Closest Hotel for Index# 33: Luangwa.
Closest hotel in Luangwa is Justfeli Lodge, Luangwa.
---------------
Retrieving Closest Hotel for Index# 34: Ibrā’.
Closest hotel in Ibrā’ is Ibra Hotel.
---------------
Retrieving Closest Hotel for Index# 35: Mastung.
Closest hotel in Mastung is Al-Rehman Hotel.
---------------
Retrieving Closest Hotel for Index# 36: Russell.
No Hotel Found
---------------
Retrieving Closest Hotel for Index# 37: Katherine.
Closest hotel in Katherine is Savannah Bar & Restaurant (Knotts Crossing Resort).
---------------
Retrieving Closest Hotel for Index# 38: Toktogul.
Closest hotel in Toktogul is Akbermet.
---------------
Retrieving Closest Hotel for Index# 39: Seoul.
Closest hotel in Seoul is Four Seasons Hotel Seoul.
---------------
Retrieving Closest Hotel for Index# 40: Aswān.
Closest hotel in Aswān is Sofitel Legend Old Cataract Aswan.
---------------
Retrieving Closest Hotel for Index# 41: Saint-Leu.
Closest hotel in Saint-Leu is Iloha Seaview Hotel.
---------------
Retrieving Closest Hotel for Index# 42: Barcelona.
Closest hotel in Barcelona is Hotel Majestic.
---------------
Retrieving Closest Hotel for Index# 43: Esna.
Closest hotel in Esna is Sandal Ankh1.
---------------
Retrieving Closest Hotel for Index# 44: Isangel.
Closest hotel in Isangel is Tanna Lodge.
---------------
Retrieving Closest Hotel for Index# 45: Glendive.
Closest hotel in Glendive is Holiday Inn Express & Suites Glendive, an IHG Hotel.
---------------
---End of Search---

In [16]:
hotel_df.rename(columns={"City Name" : "City"}, inplace=True)
hotel_df

,City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temp,Wind Speed,Hotel Name
0,San Rafael,0,AR,1651962285,28,-34.6177,-68.3301,69.19,12.95,Suter Petit Hotel
1,Mishawaka,0,US,1651962545,30,41.6620,-86.1586,68.47,10.36,Hyatt Place South Bend/Mishawaka
2,Jamestown,0,US,1651962585,35,42.0970,-79.2353,62.53,13.80,DoubleTree by Hilton Jamestown
3,Sakakah,1,SA,1651962586,24,29.9697,40.2064,62.17,1.59,Raoum Inn Hotel
4,Ingham,0,US,1651962540,37,42.6000,-84.3833,63.93,16.11,NaN
5,Mount Isa,0,AU,1651962533,48,-20.7333,139.5000,62.37,8.05,Barkly Hotel
6,Half Moon Bay,0,US,1651962304,64,37.4636,-122.4286,69.89,26.46,Beach House Hotel
7,Santa Cruz de la Sierra,20,BO,1651962529,47,-17.8000,-63.1667,78.85,3.44,Marriott Santa Cruz de la Sierra Hotel
8,Cidreira,0,BR,1651962608,74,-30.1811,-50.2056,63.01,8.32,Hotel Castelo
9,Mar del Plata,0,AR,1651962487,74,-38.0023,-57.5575,66.94,11.50,Hotel CR Playa Suites
10,Dryden,0,CA,1651962612,26,49.7833,-92.7503,71.89,13.80,"Holiday Inn Express Dryden, an IHG Hotel"
11,Riyadh,0,SA,1651962628,24,24.6877,46.7219,75.34,14.97,"Radisson Blu Hotel, Riyadh"
12,Comodoro Rivadavia,0,AR,1651962600,49,-45.8667,-67.5000,67.86,6.91,Comodoro Hotel
13,Pisco,0,PE,1651962631,73,-13.7000,-76.2167,69.85,10.36,Hotel Las Olas
14,Guerrero Negro,20,MX,1651962442,62,27.9769,-114.0611,68.76,18.32,Hotel Covare INN
15,Kashgar,0,CN,1651962647,32,39.4547,75.9797,69.01,8.95,Qinibagh Hotel
16,Shingū,10,JP,1651962651,57,33.7333,135.9833,66.90,3.94,Shingu UI Hotel
17,Talara,0,PE,1651962653,68,-4.5772,-81.2719,74.16,20.71,Hotel Pacifico
18,Cap Malheureux,5,MU,1651962656,72,-19.9842,57.6142,77.47,5.99,Royal Palm Beachcomber Luxury
19,Pierre,20,US,1651962606,46,44.3683,-100.3510,79.72,14.00,Holiday Inn Express & Suites Pierre-Fort Pierr...
20,Sohag,17,EG,1651962658,14,26.5570,31.6948,75.54,8.12,شركة العابد ترافيل للسياحة سوهاج
21,Laguna,0,US,1651962676,32,38.4210,-121.4238,76.95,3.44,Hampton Inn & Suites Sacramento-Elk Grove Lagu...
22,Grandview,0,US,1651962682,53,38.8858,-94.5330,74.07,11.50,Holiday Inn Express & Suites Kansas City-Grand...
23,Ivanovka,3,KG,1651962697,56,42.8878,75.0850,63.73,4.97,NaN
24,Ottumwa,0,US,1651962706,40,41.0200,-92.4113,75.74,12.66,Quality Inn & Suites
25,Kununurra,15,AU,1651962716,35,-15.7667,128.7333,71.58,8.05,The Kimberley Grande Resort
26,Viedma,15,AR,1651962481,33,-40.8135,-62.9967,69.53,14.99,Hotel Austral Viedma
27,Nurobod,4,UZ,1651962721,46,40.9056,69.8023,70.88,7.92,NaN
28,Yangi Marg`ilon,0,UZ,1651962723,59,40.4272,71.7189,66.92,6.91,TANTANA HOTEL FERGANA
29,Todos Santos,1,MX,1651962736,55,23.4500,-110.2167,75.16,7.02,Hotel San Cristóbal
30,Umluj,0,SA,1651962725,42,25.0213,37.2685,76.44,10.00,Juman Hotel
31,Corumbá,0,BR,1651962748,42,-19.0092,-57.6533,71.15,2.80,Nacional Palace Hotel
32,Pacific Grove,0,US,1651962750,72,36.6177,-121.9166,70.56,21.00,The Monterey Hotel
33,Luangwa,8,ZM,1651962756,70,-15.6167,30.4167,66.81,0.96,"Justfeli Lodge, Luangwa"
34,Ibrā’,0,OM,1651962758,61,22.6906,58.5334,76.87,1.66,Ibra Hotel
35,Mastung,0,PK,1651962758,15,29.7994,66.8450,70.32,2.08,Al-Rehman Hotel
36,Russell,20,US,1651962619,47,32.3502,-85.1999,78.40,11.50,NaN
37,Katherine,1,AU,1651962763,42,-14.4667,132.2667,66.52,4.61,Savannah Bar & Restaurant (Knotts Crossing Res...
38,Toktogul,0,KG,1651962773,63,41.8708,72.9402,62.15,2.64,Akbermet
39,Seoul,0,KR,1651962610,37,37.5683,126.9778,60.37,8.05,Four Seasons Hotel Seoul
40,Aswān,4,EG,1651962782,14,24.0934,32.9070,78.06,8.05,Sofitel Legend Old Cataract Aswan
41,Saint-Leu,17,RE,1651962789,71,-21.1500,55.2833,72.46,5.75,Iloha Seaview Hotel
42,Barcelona,20,ES,1651962790,71,41.3888,2.1590,67.53,6.91,Hotel Majestic
43,Esna,9,EG,1651962799,12,25.2934,32.5540,78.03,6.44,Sandal Ankh1
44,Isangel,6,VU,1651962804,57,-19.5500,169.2667,78.30,18.07,Tanna Lodge
45,Glendive,20,US,1651962809,40,47.1053,-104.7125,67.62,35.99,"Holiday Inn Express & Suites Glendive, an IHG ..."

In [18]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [19]:
# Add marker layer ontop of heat map
fig = gmaps.figure(center=(0.0, 0.0), zoom_level=2)
markers = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(markers)


# Display figure
fig

Figure(layout=FigureLayout(height='420px'))