# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
cities_df = pd.read_csv('../WeatherPy/output_Data/cities.csv', encoding="utf-8")
cities_df.head()

,City Name,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temp,Wind Speed
0,Rikitea,11,PF,1651975282,81,-23.1203,-134.9692,77.54,15.88
1,Saint-Joseph,19,RE,1651975282,80,-21.3667,55.6167,68.38,11.12
2,Saint George,0,US,1651975244,14,37.1041,-113.5841,86.63,27.63
3,Mataura,100,NZ,1651975283,96,-46.1927,168.8643,58.48,2.01
4,Cape Town,0,ZA,1651975022,80,-33.9258,18.4232,57.90,14.97

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
# Store latitude and longitude in locations
locations = cities_df[["Latitude", "Longitude"]]

# Fill Humidity values and convert to float
humidity = cities_df["Humidity"].astype(float)
max_humidity = humidity.max()

In [5]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [6]:
# Plot Heatmap
fig = gmaps.figure(center=(0.0, 0.0), zoom_level=2)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=max_humidity,
                                 point_radius=2)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
fig = gmaps.figure(center=(0.0, 0.0), zoom_level=2)
humidity = cities_df["Humidity"].tolist()
markers = gmaps.marker_layer(locations,info_box_content=[f"Humidity: {humidity}" for humidity in humidity])
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [8]:
# Preferred City - Max Temp Greater than 60 and less than 80, Humidity less than 75, Cloudiness less than 30%
pref_cities = cities_df.loc[
    (cities_df["Max Temp"] > 60) &
    (cities_df["Max Temp"] < 80) &
    (cities_df["Humidity"] < 75) & 
    (cities_df["Cloudiness"] < 30)
]
pref_cities = pref_cities.dropna(how='any')
pref_cities.reset_index(inplace=True)
del pref_cities['index']

# Display to output
pref_cities.head()

,City Name,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temp,Wind Speed
0,Vaini,27,TO,1651975285,73,-21.2000,-175.2000,75.47,12.44
1,ShingÅ«,3,JP,1651975302,53,33.7333,135.9833,72.46,4.94
2,Barra do Bugres,0,BR,1651975302,62,-15.0725,-57.1811,65.73,0.65
3,Ohangaron,0,UZ,1651975303,47,40.9064,69.6383,69.94,5.77
4,Springfield,0,US,1651975297,64,37.2153,-93.2982,66.06,11.50

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [9]:
hotel_df = pd.DataFrame(pref_cities)

In [10]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {"type": "hotel",
     "radius": 5000, 
     "keyword":"hotel",
     "key": g_key,
}

In [11]:
for index, row in hotel_df.iterrows():

    # get restaurant type from df
    lat = row["Latitude"]
    long = row["Longitude"]
    city_name = row["City Name"]

    # add keyword to params dict
    params["location"] = f"{lat},{long}"

    # assemble url and make API request
    print(f"Retrieving Closest Hotel for Index# {index}: {city_name}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response["results"]
    
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index,"Hotel Name"] = results[0]['name']
          
    except (KeyError, IndexError):
        print("No Hotel Found")
        
    print("---------------")
    
    
print("---End of Search---")

Retrieving Closest Hotel for Index# 0: Vaini.
Closest hotel in Vaini is Keleti Beach Resort.
---------------
Retrieving Closest Hotel for Index# 1: ShingÅ«.
Closest hotel in ShingÅ« is Shingu UI Hotel.
---------------
Retrieving Closest Hotel for Index# 2: Barra do Bugres.
Closest hotel in Barra do Bugres is American Palace Hotel.
---------------
Retrieving Closest Hotel for Index# 3: Ohangaron.
Closest hotel in Ohangaron is Hotel.
---------------
Retrieving Closest Hotel for Index# 4: Springfield.
Closest hotel in Springfield is Holiday Inn & Suites Springfield - I-44, an IHG Hotel.
---------------
Retrieving Closest Hotel for Index# 5: Le Port.
Closest hotel in Le Port is Lodge Roche Tamarin & Spa Village Nature.
---------------
Retrieving Closest Hotel for Index# 6: Los Llanos de Aridane.
Closest hotel in Los Llanos de Aridane is Hotel Hacienda de Abajo.
---------------
Retrieving Closest Hotel for Index# 7: Buraidah.
Closest hotel in Buraidah is Best Western Plus Buraidah.
---------------
Retrieving Closest Hotel for Index# 8: Opotiki.
No Hotel Found
---------------
Retrieving Closest Hotel for Index# 9: San MatÃ­as.
Closest hotel in San MatÃ­as is Hotel Cochabamba. ..
---------------
Retrieving Closest Hotel for Index# 10: Muzaffarabad.
Closest hotel in Muzaffarabad is Neelum View Hotel.
---------------
Retrieving Closest Hotel for Index# 11: Kaeo.
Closest hotel in Kaeo is Pacific Harbour Lodge.
---------------
Retrieving Closest Hotel for Index# 12: Port Lincoln.
Closest hotel in Port Lincoln is Marina Hotel.
---------------
Retrieving Closest Hotel for Index# 13: Yulara.
Closest hotel in Yulara is The Lost Camel Hotel - Ayers Rock Resort.
---------------
Retrieving Closest Hotel for Index# 14: San Pedro del Pinatar.
Closest hotel in San Pedro del Pinatar is HOTEL TRAIÃA.
---------------
Retrieving Closest Hotel for Index# 15: Flinders.
Closest hotel in Flinders is Lakeview Hotel Motel.
---------------
Retrieving Closest Hotel for Index# 16: Lompoc.
Closest hotel in Lompoc is Hilton Garden Inn Lompoc.
---------------
Retrieving Closest Hotel for Index# 17: Tres Arroyos.
Closest hotel in Tres Arroyos is Elegance Hotel Tres Arroyos.
---------------
Retrieving Closest Hotel for Index# 18: Huilong.
Closest hotel in Huilong is Qidong Perfect International Hotel.
---------------
Retrieving Closest Hotel for Index# 19: Makkah al Mukarramah.
Closest hotel in Makkah al Mukarramah is Makkah Clock Royal Tower, A Fairmont Hotel.
---------------
Retrieving Closest Hotel for Index# 20: Marsh Harbour.
Closest hotel in Marsh Harbour is Abaco Beach Resort.
---------------
Retrieving Closest Hotel for Index# 21: Ahipara.
Closest hotel in Ahipara is Ahipara Bay Motel.
---------------
Retrieving Closest Hotel for Index# 22: Alice Springs.
Closest hotel in Alice Springs is DoubleTree by Hilton Hotel Alice Springs.
---------------
Retrieving Closest Hotel for Index# 23: Tottori-shi.
Closest hotel in Tottori-shi is Hotel New Otani Tottori.
---------------
Retrieving Closest Hotel for Index# 24: Tripoli.
Closest hotel in Tripoli is Radisson Blu Al Mahary Hotel.
---------------
Retrieving Closest Hotel for Index# 25: Isangel.
Closest hotel in Isangel is Tanna Lodge.
---------------
Retrieving Closest Hotel for Index# 26: Giyani.
Closest hotel in Giyani is Xilumani Hotel.
---------------
Retrieving Closest Hotel for Index# 27: Sainte-Suzanne.
No Hotel Found
---------------
Retrieving Closest Hotel for Index# 28: Riyadh.
Closest hotel in Riyadh is Radisson Blu Hotel, Riyadh.
---------------
Retrieving Closest Hotel for Index# 29: Grand Gaube.
Closest hotel in Grand Gaube is Veranda Paul et Virginie Hotel & Spa.
---------------
Retrieving Closest Hotel for Index# 30: Kiama.
Closest hotel in Kiama is The Grand Hotel.
---------------
Retrieving Closest Hotel for Index# 31: Avera.
No Hotel Found
---------------
Retrieving Closest Hotel for Index# 32: Ubari.
No Hotel Found
---------------
Retrieving Closest Hotel for Index# 33: Marzuq.
No Hotel Found
---------------
Retrieving Closest Hotel for Index# 34: Rawson.
Closest hotel in Rawson is Complejo Bahia Ballenas.
---------------
Retrieving Closest Hotel for Index# 35: Mount Isa.
Closest hotel in Mount Isa is Barkly Hotel.
---------------
Retrieving Closest Hotel for Index# 36: Mayor Pablo Lagerenza.
No Hotel Found
---------------
Retrieving Closest Hotel for Index# 37: Genhe.
Closest hotel in Genhe is Blueberry Town Theme Hotel.
---------------
Retrieving Closest Hotel for Index# 38: Half Moon Bay.
Closest hotel in Half Moon Bay is Beach House Hotel.
---------------
Retrieving Closest Hotel for Index# 39: AswÄn.
Closest hotel in AswÄn is Sofitel Legend Old Cataract Aswan.
---------------
Retrieving Closest Hotel for Index# 40: Bushehr.
Closest hotel in Bushehr is Hotel busherr staying.
---------------
Retrieving Closest Hotel for Index# 41: Shymkent.
Closest hotel in Shymkent is SHYMKENT GRAND HOTEL.
---------------
Retrieving Closest Hotel for Index# 42: Zhanakorgan.
Closest hotel in Zhanakorgan is ÐÐ¾ÑÑÐ¸Ð½Ð¸ÑÐ° "ÐÒÑÑÐ°Ò".
---------------
Retrieving Closest Hotel for Index# 43: Saint-Pierre.
Closest hotel in Saint-Pierre is HÃ´tel Le Saint-Pierre.
---------------
Retrieving Closest Hotel for Index# 44: Mossamedes.
Closest hotel in Mossamedes is iu Hotel Namibe.
---------------
Retrieving Closest Hotel for Index# 45: Port Augusta.
Closest hotel in Port Augusta is Hotel Augusta Port Augusta.
---------------
Retrieving Closest Hotel for Index# 46: Kosonsoy.
Closest hotel in Kosonsoy is Abdulloh Uyi.
---------------
Retrieving Closest Hotel for Index# 47: Hirado.
Closest hotel in Hirado is Yukai Resort Hotel Ranpu.
---------------
Retrieving Closest Hotel for Index# 48: Cap Malheureux.
Closest hotel in Cap Malheureux is Coin de Mire Attitude Hotel.
---------------
Retrieving Closest Hotel for Index# 49: Comodoro Rivadavia.
Closest hotel in Comodoro Rivadavia is Comodoro Hotel.
---------------
Retrieving Closest Hotel for Index# 50: Emerald.
Closest hotel in Emerald is Emerald Star Hotel.
---------------
Retrieving Closest Hotel for Index# 51: Å¢ahÅ£Ä.
Closest hotel in Å¢ahÅ£Ä is ÙÙØ²Ù Ø§ÙØ­Ø§Ø¬ Ø­Ø§ÙØ¯ Ø§ÙØ¬Ø±Ø§Ø¯Ù.
---------------
---End of Search---

In [12]:
hotel_df.rename(columns={"City Name" : "City"}, inplace=True)
hotel_df

,City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temp,Wind Speed,Hotel Name
0,Vaini,27,TO,1651975285,73,-21.2000,-175.2000,75.47,12.44,Keleti Beach Resort
1,ShingÅ«,3,JP,1651975302,53,33.7333,135.9833,72.46,4.94,Shingu UI Hotel
2,Barra do Bugres,0,BR,1651975302,62,-15.0725,-57.1811,65.73,0.65,American Palace Hotel
3,Ohangaron,0,UZ,1651975303,47,40.9064,69.6383,69.94,5.77,Hotel
4,Springfield,0,US,1651975297,64,37.2153,-93.2982,66.06,11.50,"Holiday Inn & Suites Springfield - I-44, an IH..."
5,Le Port,2,RE,1651975308,72,-20.9373,55.2919,73.36,7.49,Lodge Roche Tamarin & Spa Village Nature
6,Los Llanos de Aridane,20,ES,1651975312,60,28.6585,-17.9182,65.12,12.66,Hotel Hacienda de Abajo
7,Buraidah,3,SA,1651975313,23,26.3260,43.9750,70.81,11.41,Best Western Plus Buraidah
8,Opotiki,4,NZ,1651975315,64,-38.0833,177.2833,67.39,5.79,NaN
9,San MatÃ­as,0,BO,1651975316,48,-16.3667,-58.4000,69.80,2.93,Hotel Cochabamba. .
10,Muzaffarabad,0,PK,1651975320,39,34.3700,73.4711,77.59,4.34,Neelum View Hotel
11,Kaeo,3,NZ,1651975324,69,-35.1000,173.7833,71.33,4.45,Pacific Harbour Lodge
12,Port Lincoln,5,AU,1651975336,65,-34.7333,135.8667,60.98,6.51,Marina Hotel
13,Yulara,0,AU,1651975338,31,-25.2406,130.9889,61.81,13.94,The Lost Camel Hotel - Ayers Rock Resort
14,San Pedro del Pinatar,4,ES,1651975179,57,37.8357,-0.7910,61.83,1.99,HOTEL TRAIÃA
15,Flinders,0,AU,1651975348,51,-34.5833,150.8552,71.06,7.00,Lakeview Hotel Motel
16,Lompoc,0,US,1651975349,72,34.6391,-120.4579,62.60,18.41,Hilton Garden Inn Lompoc
17,Tres Arroyos,19,AR,1651975351,70,-38.3739,-60.2798,61.54,14.29,Elegance Hotel Tres Arroyos
18,Huilong,0,CN,1651975365,62,31.8111,121.6550,65.07,10.60,Qidong Perfect International Hotel
19,Makkah al Mukarramah,0,SA,1651975217,46,21.4267,39.8261,74.32,7.02,"Makkah Clock Royal Tower, A Fairmont Hotel"
20,Marsh Harbour,12,BS,1651975206,71,26.5412,-77.0636,79.36,14.00,Abaco Beach Resort
21,Ahipara,16,NZ,1651975390,61,-35.1667,173.1667,67.42,3.96,Ahipara Bay Motel
22,Alice Springs,0,AU,1651975220,33,-23.7000,133.8833,60.35,16.11,DoubleTree by Hilton Hotel Alice Springs
23,Tottori-shi,13,JP,1651975394,48,35.5000,134.2333,60.84,11.34,Hotel New Otani Tottori
24,Tripoli,15,LY,1651975214,69,32.8752,13.1875,64.53,10.60,Radisson Blu Al Mahary Hotel
25,Isangel,4,VU,1651975397,57,-19.5500,169.2667,78.26,18.16,Tanna Lodge
26,Giyani,10,ZA,1651975398,39,-23.3025,30.7187,63.05,2.82,Xilumani Hotel
27,Sainte-Suzanne,20,RE,1651975399,73,-20.9061,55.6089,73.58,12.66,NaN
28,Riyadh,3,SA,1651975203,23,24.6877,46.7219,73.44,8.39,"Radisson Blu Hotel, Riyadh"
29,Grand Gaube,22,MU,1651975406,74,-20.0064,57.6608,75.38,4.00,Veranda Paul et Virginie Hotel & Spa
30,Kiama,0,AU,1651975142,50,-34.6833,150.8667,71.26,3.00,The Grand Hotel
31,Avera,1,US,1651975418,68,33.1940,-82.5271,62.65,9.91,NaN
32,Ubari,0,LY,1651975422,24,26.5921,12.7805,67.60,10.20,NaN
33,Marzuq,20,YE,1651975427,34,14.4000,46.4667,72.77,6.64,NaN
34,Rawson,17,AR,1651975148,42,-43.3002,-65.1023,69.12,11.72,Complejo Bahia Ballenas
35,Mount Isa,0,AU,1651975449,41,-20.7333,139.5000,78.57,9.22,Barkly Hotel
36,Mayor Pablo Lagerenza,5,PY,1651975465,59,-19.9309,-60.7718,67.69,4.61,NaN
37,Genhe,0,CN,1651975465,16,50.7833,121.5167,60.96,7.58,Blueberry Town Theme Hotel
38,Half Moon Bay,0,US,1651975466,71,37.4636,-122.4286,61.41,33.38,Beach House Hotel
39,AswÄn,3,EG,1651975473,17,24.0934,32.9070,75.83,7.81,Sofitel Legend Old Cataract Aswan
40,Bushehr,0,IR,1651975474,49,28.9684,50.8385,76.91,23.62,Hotel busherr staying
41,Shymkent,0,KZ,1651975477,60,42.3000,69.6000,66.79,2.24,SHYMKENT GRAND HOTEL
42,Zhanakorgan,9,KZ,1651975482,36,43.9098,67.2495,75.22,11.50,"ÐÐ¾ÑÑÐ¸Ð½Ð¸ÑÐ° ""ÐÒÑÑÐ°Ò"""
43,Saint-Pierre,0,RE,1651975492,73,-21.3393,55.4781,69.48,5.75,HÃ´tel Le Saint-Pierre
44,Mossamedes,0,AO,1651975208,74,-15.1961,12.1522,70.83,3.89,iu Hotel Namibe
45,Port Augusta,0,AU,1651975503,38,-32.5000,137.7667,64.13,1.83,Hotel Augusta Port Augusta
46,Kosonsoy,7,UZ,1651975509,44,41.2561,71.5508,66.76,5.75,Abdulloh Uyi
47,Hirado,15,JP,1651975511,71,33.3597,129.5531,71.38,19.17,Yukai Resort Hotel Ranpu
48,Cap Malheureux,16,MU,1651975512,74,-19.9842,57.6142,75.47,5.01,Coin de Mire Attitude Hotel
49,Comodoro Rivadavia,0,AR,1651975464,40,-45.8667,-67.5000,71.46,14.97,Comodoro Hotel
50,Emerald,4,AU,1651975298,51,-23.5333,148.1667,76.06,13.04,Emerald Star Hotel
51,Å¢ahÅ£Ä,26,EG,1651975520,17,26.7693,31.5021,72.61,5.95,Ù ÙØ²Ù Ø§ÙØ­Ø§Ø¬ Ø­Ø§Ù Ø¯ Ø§ÙØ¬Ø±Ø§Ø¯Ù

In [13]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [15]:
# Add marker layer ontop of heat map
fig = gmaps.figure(center=(0.0, 0.0), zoom_level=2)
markers = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(markers)


# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
plt.savefig('plot.png')