# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
cities_df = pd.read_csv('../WeatherPy/output_Data/cities.csv', encoding="utf-8")
cities_df.head()

,City Name,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temp,Wind Speed
0,Bluff,100,NZ,1651962575,98,-46.6000,168.3333,57.79,6.02
1,Alofi,96,NU,1651962575,89,-19.0595,-169.9187,78.69,3.44
2,Kirakira,81,SB,1651962575,80,-10.4544,161.9205,82.76,10.51
3,Manjacaze,0,MZ,1651962533,93,-24.7117,33.8828,64.36,6.06
4,Kavieng,59,PG,1651962387,71,-2.5744,150.7967,84.11,17.45

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [6]:
# Store latitude and longitude in locations
locations = cities_df[["Latitude", "Longitude"]]

# Fill Humidity values and convert to float
humidity = cities_df["Humidity"].astype(float)
max_humidity = humidity.max()

In [7]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [8]:
# Plot Heatmap
fig = gmaps.figure(center=(0.0, 0.0), zoom_level=2)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=max_humidity,
                                 point_radius=2)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
fig = gmaps.figure(center=(0.0, 0.0), zoom_level=2)
humidity = cities_df["Humidity"].tolist()
markers = gmaps.marker_layer(locations,info_box_content=[f"Humidity: {humidity}" for humidity in humidity])
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [27]:
pref_cities = cities_df.loc[
    (cities_df["Max Temp"] > 60) &
    (cities_df["Max Temp"] < 90) &
    (cities_df["Wind Speed"] < 15) &
    (cities_df["Humidity"] < 75) & 
    (cities_df["Cloudiness"] >= 0) &
    (cities_df["Cloudiness"] < 30)
]
pref_cities = pref_cities.dropna(how='any')
pref_cities.reset_index(inplace=True)
del pref_cities['index']

# Display to output
pref_cities.head()

,City Name,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temp,Wind Speed
0,San Rafael,0,AR,1651962285,28,-34.6177,-68.3301,69.19,12.95
1,Mishawaka,0,US,1651962545,30,41.6620,-86.1586,68.47,10.36
2,KodÄ«nar,0,IN,1651962583,69,20.7903,70.7031,80.69,13.04
3,Jamestown,0,US,1651962585,35,42.0970,-79.2353,62.53,13.80
4,Sakakah,1,SA,1651962586,24,29.9697,40.2064,62.17,1.59

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [28]:
hotel_df = pd.DataFrame(pref_cities)
hotel_df

,City Name,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temp,Wind Speed
0,San Rafael,0,AR,1651962285,28,-34.6177,-68.3301,69.19,12.95
1,Mishawaka,0,US,1651962545,30,41.6620,-86.1586,68.47,10.36
2,KodÄ«nar,0,IN,1651962583,69,20.7903,70.7031,80.69,13.04
3,Jamestown,0,US,1651962585,35,42.0970,-79.2353,62.53,13.80
4,Sakakah,1,SA,1651962586,24,29.9697,40.2064,62.17,1.59
5,Mount Isa,0,AU,1651962533,48,-20.7333,139.5000,62.37,8.05
6,Taoudenni,0,ML,1651962599,10,22.6783,-3.9836,87.85,11.65
7,Santa Cruz de la Sierra,20,BO,1651962529,47,-17.8000,-63.1667,78.85,3.44
8,Cidreira,0,BR,1651962608,74,-30.1811,-50.2056,63.01,8.32
9,Mar del Plata,0,AR,1651962487,74,-38.0023,-57.5575,66.94,11.50
10,Cabo San Lucas,0,MX,1651962611,22,22.8909,-109.9124,89.91,10.36
11,Dryden,0,CA,1651962612,26,49.7833,-92.7503,71.89,13.80
12,Baghmara,7,IN,1651962618,54,23.7950,86.2085,83.03,6.49
13,Riyadh,0,SA,1651962628,24,24.6877,46.7219,75.34,14.97
14,Comodoro Rivadavia,0,AR,1651962600,49,-45.8667,-67.5000,67.86,6.91
15,Pisco,0,PE,1651962631,73,-13.7000,-76.2167,69.85,10.36
16,Nioro,7,GM,1651962634,35,13.3500,-15.7500,84.11,5.97
17,Kimbe,6,PG,1651962636,70,-5.5502,150.1429,85.19,1.92
18,Long Beach,0,US,1651962640,71,33.7670,-118.1892,82.85,14.97
19,Kashgar,0,CN,1651962647,32,39.4547,75.9797,69.01,8.95
20,ShingÅ«,10,JP,1651962651,57,33.7333,135.9833,66.90,3.94
21,Cap Malheureux,5,MU,1651962656,72,-19.9842,57.6142,77.47,5.99
22,Pierre,20,US,1651962606,46,44.3683,-100.3510,79.72,14.00
23,Sohag,17,EG,1651962658,14,26.5570,31.6948,75.54,8.12
24,Lynn Haven,0,US,1651962663,64,30.2455,-85.6483,81.03,12.66
25,PanÄgar,1,IN,1651962669,23,23.3000,79.9833,84.43,3.27
26,Dubti,15,ET,1651962674,46,11.7361,41.0853,88.95,14.74
27,Laguna,0,US,1651962676,32,38.4210,-121.4238,76.95,3.44
28,Grandview,0,US,1651962682,53,38.8858,-94.5330,74.07,11.50
29,Manjhanpur,0,IN,1651962692,26,25.5333,81.3833,85.51,5.70
30,Ivanovka,3,KG,1651962697,56,42.8878,75.0850,63.73,4.97
31,Ottumwa,0,US,1651962706,40,41.0200,-92.4113,75.74,12.66
32,Kavaratti,27,IN,1651962536,72,10.5669,72.6420,84.13,11.18
33,Kununurra,15,AU,1651962716,35,-15.7667,128.7333,71.58,8.05
34,Viedma,15,AR,1651962481,33,-40.8135,-62.9967,69.53,14.99
35,Nurobod,4,UZ,1651962721,46,40.9056,69.8023,70.88,7.92
36,Nainpur,1,IN,1651962722,29,22.4333,80.1167,81.99,3.15
37,Yangi Marg`ilon,0,UZ,1651962723,59,40.4272,71.7189,66.92,6.91
38,La Palma,0,US,1651962728,65,33.8464,-118.0467,84.92,13.80
39,Todos Santos,1,MX,1651962736,55,23.4500,-110.2167,75.16,7.02
40,Umluj,0,SA,1651962725,42,25.0213,37.2685,76.44,10.00
41,CorumbÃ¡,0,BR,1651962748,42,-19.0092,-57.6533,71.15,2.80
42,Luangwa,8,ZM,1651962756,70,-15.6167,30.4167,66.81,0.96
43,IbrÄâ,0,OM,1651962758,61,22.6906,58.5334,76.87,1.66
44,Mastung,0,PK,1651962758,15,29.7994,66.8450,70.32,2.08
45,Russell,20,US,1651962619,47,32.3502,-85.1999,78.40,11.50
46,Katherine,1,AU,1651962763,42,-14.4667,132.2667,66.52,4.61
47,Toktogul,0,KG,1651962773,63,41.8708,72.9402,62.15,2.64
48,Seoul,0,KR,1651962610,37,37.5683,126.9778,60.37,8.05
49,AswÄn,4,EG,1651962782,14,24.0934,32.9070,78.06,8.05
50,Dalbandin,0,PK,1651962782,12,28.8947,64.4101,84.85,5.17
51,Harnai,0,PK,1651962786,13,30.1005,67.9374,82.35,7.16
52,Saint-Leu,17,RE,1651962789,71,-21.1500,55.2833,72.46,5.75
53,Barcelona,20,ES,1651962790,71,41.3888,2.1590,67.53,6.91
54,Marsh Harbour,23,BS,1651962794,66,26.5412,-77.0636,80.71,14.74
55,Esna,9,EG,1651962799,12,25.2934,32.5540,78.03,6.44

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure